*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Poppins","Inter";
}
.navbar{
  background-color: black;
  width: 100%;
  height: 75px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}
.navbar .logo{
  margin: 25px;

}
.navbar .nav nav{
/* background-color: green; */
/* width: 300px; */

}
.navbar .nav nav ul{
  list-style-type: none;
  margin: 25px;

}
.navbar .nav nav ul li{
  display: inline-block;
  margin: 5px;

  
}
.navbar .nav nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.navbar .login{
  margin-right: 25px;
  margin-top: 28px;
 
}
.navbar .login form label{
  margin-right: 25px;
  font-size: 10px;
}

.navbar .login form input{
  width:90px ;
  height: 35px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: rgba(240, 115, 49, 0.9);
}
.active{
border-bottom: 2px solid rgb(240, 100, 49);

}

/* Home section */

.home{
display: flex;
width: 100%;
height: 100%;
margin-top: 40px;
background-image: url(../agriplus\ images/image\ 1.png);
background-size: contain;


}
.home .content{
  margin-left: 30px;
  margin-top: 10px;
  flex: 1;
}
.home .content h3{
  font-weight: bolder;
}
.home .content p{
  margin-top: 8px;
  font-size: 10px;
  font-weight: 600;
}
.home .content button{
  margin-bottom: 85px;
  margin-top: 20px;
  height: 38px;
  background-color: rgba(240, 115, 49, 0.9);
  border: none;
  padding: 10px;
  color: whitesmoke;
  font-weight: 900;
}
.home .fruits{
  flex: 1;

}
.home .fruits img{
  max-width: 100%;
  max-height: 100%;
}

/* Feedback section */

.feedback{
  width:50%;
  height: 72px;
  background-color: brown;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -52px;
  right: -50px;
}
.feedback .data{
  /* background-color:yellow; */
  margin: 5px;
  height: 40px;
  text-align: center;
}
.feedback .data p{
  font-size: 8px;
  font-weight: 900;
}

/* about section */

.underline{
  width: 50px;
  height: 2px;
  background-color: #ED661F;
}

.about{
  display: flex;
  width: 90%;
  margin: auto;

}
.about>.content{
flex:1;

}
.about .content p{
  font-size: 9px;
  margin-top: 15px;
  
}
.about .image{
  flex: 1;
  position: relative;
  top: -30px;
}
.about .image img{
  max-width: 100%;
  max-height: 100%;
}
/* products section */
.products{
width: 50%;
/* background-color: blueviolet; */
margin: auto;
text-align: center;
}
.products div{
 margin: auto;
 margin-bottom: 10px;
 margin-top: 5px;
}
.products p{
  font-size: 9px;
}